.stayProductiveSection {
  display: flex;

  align-items: center;
  padding: 50px 150px;
  padding-left: 250px;
}

.stayProductiveSection h1 {
  font-size: 30px;
  width: 50%;
}

.stayProductiveSection > div {
  margin-left: 80px;
}

.howItWorks {
  color: hsl(176, 68%, 64%);
  display: flex;
  align-items: center;
  text-decoration: underline;
}
.howItWorks:hover {
  color: hsl(0, 0%, 100%);
}

.howItWorks div {
  margin: 7px 0 0 10px;
}

.howItWorks img:hover {
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .stayProductiveSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    padding-left: 40px;
  }

  .stayProductiveSection h1 {
    font-size: 25px;
    width: 100%;
  }

  .stayProductiveSection div {
    margin-left: 0px;
  }
}
