.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 50px;
  background-color: hsl(216, 53%, 9%);
}

.footerContent {
  display: flex;
  justify-content: center;
}

.footerContent > div {
  width: 25%;
}
.footerContent > div:first-child {
  display: flex;
  align-items: flex-start;
  margin-right: 70px;
}
.footerContent > div:nth-child(2) div {
  display: flex;
}

.footerContent > div:first-child img {
  width: 50px !important;
}
.footerLogo {
  padding: 10px 90px 15px 0 !important;
}
.imageContainer {
  padding: 20px;
}

.socialMedia {
  display: flex;
  padding-top: 20px;
}

.socialMedia div {
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
}

.links {
  display: flex;
  margin-right: 20px;
}

.links ul {
  list-style: none;
}

.links ul:first-child {
  margin-right: 20px;
}
.links li {
  margin-bottom: 10px;
}

.links li:hover {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 200px 50px;
    background-color: hsl(216, 53%, 9%);
  }

  .footerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footerContent > div {
    width: 100%;
  }
  .footerContent > div:first-child {
    display: flex;
    align-items: flex-start;
    margin-right: 70px;
  }
  .footerContent > div:nth-child(2) div {
    display: flex;
  }

  .footerContent > div:first-child img {
    width: 50px !important;
  }

  .imageContainer {
    padding: 20px;
  }

  .footerContainer > div:first-child img {
    width: 280px !important;
  }

  .socialMedia {
    display: flex;
    padding-top: 20px;
    justify-content: center;
  }

  .socialMedia div {
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
  }

  .links {
    display: flex;
    flex-direction: column;
    margin-left: -20px;
  }

  .links ul {
    list-style: none;
  }

  .links ul:first-child {
    margin-right: 20px;
  }
  .links li {
    margin-bottom: 10px;
  }

  .links li:hover {
    cursor: pointer;
  }
}
