.formContainer button {
  padding: 15px 65px;
  border-radius: 25px;
  border: none;
  background-color: hsl(176, 68%, 64%);
  color: #fff;
  font-weight: 600;
}

.formContainer {
  padding: 30px 50px;
  margin: 0 300px;
  border: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: hsl(217, 28%, 15%);
  text-align: center;
  position: absolute;
  bottom: 350px;
  z-index: 10;
}
.formContainer button,
.formContainer input {
  padding: 15px;
  border-radius: 25px;
}

.formContainer button:hover {
  cursor: pointer;
}

.formContainer input {
  width: 400px;
  margin-right: 20px;
  outline: none;
  border: none;
}

@media screen and (max-width: 800px) {
  .formContainer {
    padding: 30px 50px;
    margin: 0 30px;
    width: 420px;
    position: absolute;
    bottom: 950px;
    z-index: 10;
  }
  .formContainer button,
  .formContainer input {
    padding: 15px;
    border-radius: 25px;
    width: 100%;
  }

  .formContainer button:hover {
    cursor: pointer;
  }

  .formContainer input {
    margin: 25px 0;
    outline: none;
    border: none;
  }
}
